
@{
    ViewBag.Title = "ListMatch";
}

<ul class="players_grid">
    <li class="players_grid_item">1</li>
    <li class="players_grid_item">2</li>
    <li class="players_grid_item">3</li>
    <li class="players_grid_item">4</li>
</ul>

